{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% if app.user %}
        {% include 'layouts/nav.html.twig' %}
    {% endif %}
    <h1>Welcome ! ✅</h1>
</div>
{% endblock %}
