{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        {% include 'layouts/nav.html.twig' %}
    {% endif %}


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <h1>Créer une promo</h1>
    {% include 'promo/new.html.twig' with { form: promoForm } %}
    <a href="{{ path('promo_list') }}">Voir les promos</a>
    <hr>

    <h1>Créer une news</h1>
    {% include 'news/new.html.twig' with { form: newsForm } %}
    <a href="{{ path('news_list') }}">Voir les news</a>
    <hr>

    <h1>Créer un événement</h1>
    {% include 'event/new.html.twig' with { form: eventForm } %}
    <a href="{{ path('event_list') }}">Voir les events</a>

{% endblock %}
