<style>
    .nav-wrapper { height:4rem; width: 100%; background-color: #f1f2f3; display:flex; align-items: center; justify-content: center;}
    .nav-btn { padding: 0.6rem; background-color: #121314; color: #f1f2f3; cursor: pointer; border: none; border-radius: 1rem; text-decoration: none;}
</style>

<div class="nav-wrapper">
    <a class='nav-btn' href="{{ logout_path() }}">Logout</a>
</div>
